






@media screen and (min-width: 720px) and (max-width: 1270px){
.sign_up_ph{
background-repeat: no-repeat;
    object-fit: cover;
	margin-left: -10px;
	margin-top:-10px;
    width: 101%;
    height: 101vh;
}
.flex_sign_up{
	display: flex;
	width: 100%;
	flex-direction: row;

}
.part_w_image{
	width: 40%;
}
.forms_and_btns{
	width: 60%;
    max-width: 400px;
    margin: auto;
}
.sign_up_text{
	font-family: Montserrat;
	font-size: 30px;
	margin-top: 0px;
	color:#7D7D7D;
	font-weight: normal;
	text-align: center;
}
#id_email, #id_password{
	width: 90%;
    padding: 16px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    margin-top: 9px;
}
.input-field-label{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 87px;
	text-align: center;

}
.input-field-label_ps{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 100px;
	text-align: center;

}
.email_p_cen, .pass_p_cen{
	margin-bottom: 15px;
	margin-top: 0px;
}
.join_sign_up{
	height: 58.8px;
	margin-top: 10px;
	border-radius: 15px;
	background: #FF9431;
	width: 100%;
	font-size: 16px;
	color:white;
	border:0px;
	text-align: center;
	outline: none;
	font-family: Montserrat;
}
.join_sign_up:focus{
	background: #F87A5D;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.part_2_flex_div_2{
	width: 60%;
	display: flex;
	flex-direction: column;
}
.logo_plus_name{
	height: 100px;
	width: 100%;
	text-align: right;
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	margin-left:2%;

}
.logo_block{
	border-left:2px solid lightgrey;
	width: 100px;
	height: 65px;
	margin-left:10px;

}
.logo_name_company{
color: #7D7D7D;
font-size: 30px;
font-family: Montserrat;
margin-top:13px;
}
.i_agree{
	margin-left:10px;
	color: #7D7D7D;
	font-size: 14px;
	font-family: Montserrat;
}
.custom-checkbox{
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
  background-color: #FEB169;
  border-color:#FEB169;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #FEB169;
}
header{
	display: flex;
	flex-direction: row;
	height: 60px;
	background: white;
	width:102%;
	margin-top:-10px;
	margin-left:-10px;
}
.logo_div{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	background: #4AD6AD;
	margin-left:20px;
	margin-top:11px; 
}
.logo_div p {
	line-height: 40px;
	margin-top:0px;
	margin-bottom: 0px;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	color:white;
	font-family: Montserrat;
}
#id_findfood{
	height: 30px;
	border-radius: 12px;
	width:200px;
	padding-left:15px;
	outline: none;
	background: #F0F0F0;
	margin-left:20px;
	margin-top:15px;
	color:#828282;
	border:0px solid lightgrey;
	font-family: Montserrat;
	font-size: 16px;

}
#id_findfood::placeholder{
	font-family: Montserrat;
	font-size: 16px;
}
.links_btns{
	display: flex;
    flex-flow: row;
    height: 60px;
    margin: 0 auto;
}
.linktomain{
	height: 50px;
	margin-top:5px;
	border-radius: 10px;
	width:100px;
	background: white;
	margin-right: 10px;
	transition: 0.2s;
}
.linktomain:hover{
	background: #F4F4F4;
}
.linktomain p{
	margin-top:1px;
	margin-bottom: 0px;
	line-height: 50px;
}
.settings_btn{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right:20px;
	margin-top:11px;

}
.create_new_recipe{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width:280px;

}
.create_rep_btn{
	width: 200px;
	height: 35px;
	color: #FFFFFF;
	background: #4AD6AD;
	border-radius: 10px;
	margin-top:12.5px;
	margin-right: 20px;
}
.create_rep_btn p {
font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	margin-top:0px;
	margin-bottom: 0px;
}
.img_head{
	height: 50px;

}
.img_head_norm{
	height: 35px;
	margin-top:7.5px;
}
.img_head_norm1{
	height: 32px;
	margin-top:9px;
}



.account_info{
	display: flex;
	flex-direction: row;
	width:900px;
	height: 200px;
	margin:70px auto;
	margin-bottom: 30px;
}
.profile_photo{
	height: 200px;
	width:200px;
	border:0px solid grey;
}
.profile_info{
	height: 200px;
	width:700px;
	margin-left:-1px;
	border:0px solid grey;
}
.name_and_lname{
	font-family: Montserrat;
	font-size: 30px;
	margin-left:20px;
	color:#686868;
	margin-top:1px;
	margin-bottom: 0px;
}
.username_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#494949;
	margin-top:6px;
	margin-bottom: 0px;
}
.description_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	margin-top:26px;
}
.my_rank_img{
	height: 40px;
	margin-left:20px;
}
.flex_rank{
	display: flex;
	flex-direction: row;
}
.rank_name{
	font-family: Montserrat;
	color:#5A5A5A;
	font-size: 22px;
	margin-top:0px;
	margin-left:7px;
	margin-bottom: 7px;
}
.progress_flex{
	display: flex;
	flex-direction: column;
}
.grey_progress{
	width:210px;
	height: 8px;
	border-radius: 10px;
	background: #EDEDED;
	margin-left:7px;
}

.subs_follows{
	height: 100px;
	width:900px;
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	margin-top:0px;
}
.subs_follows p{
	font-family: Montserrat;
	color:#585858;
	font-size: 16px;
	margin-top:2px;
	margin-bottom: 0px;
	text-align: center;
}
.sbs_flex_part{
	display: flex;
	flex-direction: column;
}
.best_recipes_rewards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0 auto;
	width:900px;
}
.my_rewards{
	height: 150px;
	width:400px;
	border-radius: 15px;
	background: #F3F3F3;
	text-decoration: none;
}
.my_rewards_1{
	display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.my_best_recipes{
	height: 150px;
	width:400px;
	text-decoration: none;
	border-radius: 15px;
	background: #F3F3F3;
}
.rew_pra{
	font-family: Montserrat;
	font-size: 20px;
	color:#7C7C7C;
}
.reward_img{
	height: 60px;
	margin-right: -40px;
	margin-left:20px;
}
.reward_last{
	height: 60px;
	width:60px;
	background: #F87A5D;
	border-radius: 50px;
	margin-left:20px;
}
.reward_last p {
	color:white;
	line-height: 60px;
	text-align: center;
	font-family: Montserrat;

	font-size:20px;
	margin-top:0px;
	margin-bottom: 0px;
}
.my_popular{
		display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.popular_img{
	height: 60px;
	width:60px;
	object-fit: cover;
	border-radius: 50px;
	margin-left:13px;
}
.all_recipes_my_profile{
	display: flex;
	flex-flow:row wrap;
	width:1145px;
	margin:50px auto;
	height: auto;
}
.recipe_link_profile_add{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.recipe_link_profile{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.my_chedevres_name{
	font-family: Montserrat;
	font-size:25px;
	color:#686868;
	margin-top:50px;
	text-align:center;
}
.add_btn_recipe_photo{
	height: 90px;
	margin-top:0px;
}
.centering_img_addbtn{
	line-height: 250px;
	padding-top:45px;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: center;
}
.recipe_link_profile_add:hover{
	background:#FFF4F4;
	transition:0.3s;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.image_recipe{
	height: 250px;
	width: 350px;
	border-radius: 10px;
	margin-top:0px;
	object-fit: cover;
	margin-bottom: 0px;
}
.hover_info_show{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.4s ease-out;
	cursor: pointer;
	height: 250px;
	width: 350px;
	position: absolute;
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	margin-top:-254px;
}
.recipe_link_profile:hover .hover_info_show{
	visibility: visible;
	cursor: pointer;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.4s ease-out;
}
.main_in_hidden_recipe{
	margin-top:60px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;

}
.normal_hidden{
	margin-top:10px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;
}
}






























@media screen and (min-width: 1271px) and (max-width: 1920px){
.sign_up_ph{
background-repeat: no-repeat;
    object-fit: cover;
	margin-left: -10px;
	margin-top:-10px;
    width: 101%;
    height: 101vh;
}
.flex_sign_up{
	display: flex;
	width: 100%;
	flex-direction: row;

}
.part_w_image{
	width: 40%;
}
.forms_and_btns{
	width: 60%;
    max-width: 400px;
    margin: auto;
}
.sign_up_text{
	font-family: Montserrat;
	font-size: 30px;
	margin-top: 0px;
	color:#7D7D7D;
	font-weight: normal;
	text-align: center;
}
#id_email, #id_password{
	width: 90%;
    padding: 16px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    margin-top: 9px;
}
.input-field-label{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 87px;
	text-align: center;

}
.input-field-label_ps{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 100px;
	text-align: center;

}
.email_p_cen, .pass_p_cen{
	margin-bottom: 15px;
	margin-top: 0px;
}
.join_sign_up{
	height: 58.8px;
	margin-top: 10px;
	border-radius: 15px;
	background: #FF9431;
	width: 100%;
	font-size: 16px;
	color:white;
	border:0px;
	text-align: center;
	outline: none;
	font-family: Montserrat;
}
.join_sign_up:focus{
	background: #F87A5D;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.part_2_flex_div_2{
	width: 60%;
	display: flex;
	flex-direction: column;
}
.logo_plus_name{
	height: 100px;
	width: 100%;
	text-align: right;
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	margin-left:2%;

}
.logo_block{
	border-left:2px solid lightgrey;
	width: 100px;
	height: 65px;
	margin-left:10px;

}
.logo_name_company{
color: #7D7D7D;
font-size: 30px;
font-family: Montserrat;
margin-top:13px;
}
.i_agree{
	margin-left:10px;
	color: #7D7D7D;
	font-size: 14px;
	font-family: Montserrat;
}
.custom-checkbox{
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
  background-color: #FEB169;
  border-color:#FEB169;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #FEB169;
}
header{
	display: flex;
	flex-direction: row;
	height: 60px;
	background: white;
	width:101%;
	margin-top:-10px;
	margin-left:-10px;
}
.logo_div{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	background: #4AD6AD;
	margin-left:20px;
	margin-top:11px; 
}
.logo_div p {
	line-height: 40px;
	margin-top:0px;
	margin-bottom: 0px;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	color:white;
	font-family: Montserrat;
}
#id_findfood{
	height: 30px;
	border-radius: 12px;
	width:200px;
	padding-left:15px;
	outline: none;
	background: #F0F0F0;
	margin-left:20px;
	margin-top:15px;
	color:#828282;
	border:0px solid lightgrey;
	font-family: Montserrat;
	font-size: 16px;

}
#id_findfood::placeholder{
	font-family: Montserrat;
	font-size: 16px;
}
.links_btns{
	display: flex;
    flex-flow: row;
    height: 60px;
    margin: 0 auto;
}
.linktomain{
	height: 50px;
	margin-top:5px;
	border-radius: 10px;
	width:100px;
	background: white;
	margin-right: 10px;
	transition: 0.2s;
}
.linktomain:hover{
	background: #F4F4F4;
}
.linktomain p{
	margin-top:1px;
	margin-bottom: 0px;
	line-height: 50px;
}
.settings_btn{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right:20px;
	margin-top:11px;

}
.create_new_recipe{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width:280px;

}
.create_rep_btn{
	width: 200px;
	height: 35px;
	color: #FFFFFF;
	background: #4AD6AD;
	border-radius: 10px;
	margin-top:12.5px;
	margin-right: 10px;
}
.create_rep_btn p {
font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	margin-top:0px;
	margin-bottom: 0px;
}
.img_head{
	height: 50px;

}
.img_head_norm{
	height: 35px;
	margin-top:7.5px;
}
.img_head_norm1{
	height: 32px;
	margin-top:9px;
}



.account_info{
	display: flex;
	flex-direction: row;
	width:900px;
	height: 200px;
	margin:70px auto;
	margin-bottom: 30px;
}
.profile_photo{
	height: 200px;
	width:200px;
	border:0px solid grey;
}
.profile_info{
	height: 200px;
	width:700px;
	margin-left:-1px;
	border:0px solid grey;
}
.name_and_lname{
	font-family: Montserrat;
	font-size: 30px;
	margin-left:20px;
	color:#686868;
	margin-top:1px;
	margin-bottom: 0px;
}
.username_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#494949;
	margin-top:6px;
	margin-bottom: 0px;
}
.description_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	margin-top:26px;
}
.my_rank_img{
	height: 40px;
	margin-left:20px;
}
.flex_rank{
	display: flex;
	flex-direction: row;
}
.rank_name{
	font-family: Montserrat;
	color:#5A5A5A;
	font-size: 22px;
	margin-top:0px;
	margin-left:7px;
	margin-bottom: 7px;
}
.progress_flex{
	display: flex;
	flex-direction: column;
}
.grey_progress{
	width:210px;
	height: 8px;
	border-radius: 10px;
	background: #EDEDED;
	margin-left:7px;
}
.subs_follows{
	height: 100px;
	width:900px;
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	margin-top:0px;
}
.subs_follows p{
	font-family: Montserrat;
	color:#585858;
	font-size: 16px;
	margin-top:2px;
	margin-bottom: 0px;
	text-align: center;
}
.sbs_flex_part{
	display: flex;
	flex-direction: column;
}
.best_recipes_rewards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0 auto;
	width:900px;
}
.my_rewards{
	height: 150px;
	width:400px;
	border-radius: 15px;
	background: #F3F3F3;
	text-decoration: none;
}
.my_rewards_1{
	display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.my_best_recipes{
	height: 150px;
	width:400px;
	text-decoration: none;
	border-radius: 15px;
	background: #F3F3F3;
}
.rew_pra{
	font-family: Montserrat;
	font-size: 20px;
	color:#7C7C7C;
}
.reward_img{
	height: 60px;
	margin-right: -40px;
	margin-left:20px;
}
.reward_last{
	height: 60px;
	width:60px;
	background: #F87A5D;
	border-radius: 50px;
	margin-left:20px;
}
.reward_last p {
	color:white;
	line-height: 60px;
	text-align: center;
	font-family: Montserrat;

	font-size:20px;
	margin-top:0px;
	margin-bottom: 0px;
}
.my_popular{
		display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.popular_img{
	height: 60px;
	width:60px;
	object-fit: cover;
	border-radius: 50px;
	margin-left:13px;
}
.all_recipes_my_profile{
	display: flex;
	flex-flow:row wrap;
	width:1145px;
	margin:50px auto;
	height: auto;
}
.recipe_link_profile_add{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.recipe_link_profile{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.my_chedevres_name{
	font-family: Montserrat;
	font-size:25px;
	color:#686868;
	margin-top:50px;
	text-align:center;
}
.add_btn_recipe_photo{
	height: 90px;
	margin-top:0px;
}
.centering_img_addbtn{
	line-height: 250px;
	padding-top:45px;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: center;
}
.recipe_link_profile_add:hover{
	background:#FFF4F4;
	transition:0.3s;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.image_recipe{
	height: 250px;
	width: 350px;
	border-radius: 10px;
	margin-top:0px;
	object-fit: cover;
	margin-bottom: 0px;
}
.hover_info_show{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.4s ease-out;
	cursor: pointer;
	height: 250px;
	width: 350px;
	position: absolute;
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	margin-top:-254px;
}
.recipe_link_profile:hover .hover_info_show{
	visibility: visible;
	cursor: pointer;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.4s ease-out;
}
.main_in_hidden_recipe{
	margin-top:60px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;

}
.normal_hidden{
	margin-top:10px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;
}
}
















































@media screen and (min-width: 1921px){
	/* photo sign up */
.sign_up_ph{
background-repeat: no-repeat;
    object-fit: cover;
	margin-left: -10px;
	margin-top:-10px;
    width: 101%;
    height: 101vh;
}


/* makign block flex(for different displays) */
.flex_sign_up{
	display: flex;
	width: 100%;
	flex-direction: row;

}
.part_w_image{
	width: 40%;
}
.forms_and_btns{
	width: 60%;
    max-width: 400px;
    margin: auto;
}
.sign_up_text{
	font-family: Montserrat;
	font-size: 30px;
	margin-top: 0px;
	color:#7D7D7D;
	font-weight: normal;
	text-align: center;
}
#id_email, #id_password{
	width: 90%;
    padding: 16px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    margin-top: 9px;
}
.input-field-label{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 87px;
	text-align: center;

}
.input-field-label_ps{
	margin-bottom: 0px;
	font-family: Montserrat;
	color: #7C7C7C;
	margin-left: 20px;
	font-size: 14px;
	position: absolute;
	background: white;
	width: 100px;
	text-align: center;

}
.email_p_cen, .pass_p_cen{
	margin-bottom: 15px;
	margin-top: 0px;
}
.join_sign_up{
	height: 58.8px;
	margin-top: 10px;
	border-radius: 15px;
	background: #FF9431;
	width: 100%;
	font-size: 16px;
	color:white;
	border:0px;
	text-align: center;
	outline: none;
	font-family: Montserrat;
}
.join_sign_up:focus{
	background: #F87A5D;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.part_2_flex_div_2{
	width: 60%;
	display: flex;
	flex-direction: column;
}
.logo_plus_name{
	height: 100px;
	width: 100%;
	text-align: right;
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	margin-left:2%;

}
.logo_block{
	border-left:2px solid lightgrey;
	width: 100px;
	height: 65px;
	margin-left:10px;

}
.logo_name_company{
color: #7D7D7D;
font-size: 30px;
font-family: Montserrat;
margin-top:13px;
}
.i_agree{
	margin-left:10px;
	color: #7D7D7D;
	font-size: 14px;
	font-family: Montserrat;
}
.custom-checkbox{
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* стили для самого фейкового чекбокса */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при active чекбокс крч */
.custom-checkbox:checked+label::before {
  background-color: #FEB169;
  border-color:#FEB169;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #FEB169;
}
header{
	display: flex;
	flex-direction: row;
	height: 60px;
	background: white;
	width:101%;
	margin-top:-8px;
	margin-left:-10px;
}
.logo_div{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	background: #4AD6AD;
	margin-left:20px;
	margin-top:11px; 
}
.logo_div p {
	line-height: 40px;
	margin-top:0px;
	margin-bottom: 0px;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	color:white;
	font-family: Montserrat;
}
#id_findfood{
	height: 30px;
	border-radius: 12px;
	width:200px;
	padding-left:15px;
	outline: none;
	background: #F0F0F0;
	margin-left:20px;
	margin-top:15px;
	color:#828282;
	border:0px solid lightgrey;
	font-family: Montserrat;
	font-size: 16px;

}
#id_findfood::placeholder{
	font-family: Montserrat;
	font-size: 16px;
}
.links_btns{
	display: flex;
    flex-flow: row;
    height: 60px;
    margin: 0 auto;
}
.linktomain{
	height: 50px;
	margin-top:5px;
	border-radius: 10px;
	width:100px;
	background: white;
	margin-right: 10px;
	transition: 0.2s;
	cursor: pointer;
}
.linktomain:hover{
	background: #F4F4F4;
}
.linktomain p{
	margin-top:1px;
	margin-bottom: 0px;
	line-height: 50px;
}
.settings_btn{
	border-radius: 50px;
	width: 35px;
	height: 35px;
	line-height: 40px;
	margin-right:20px;
	margin-top:12.5px;

}
.create_new_recipe{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width:280px;

}
.create_rep_btn{
	width: 200px;
	height: 35px;
	color: #FFFFFF;
	cursor: pointer;
	background: #4AD6AD;
	border-radius: 10px;
	margin-top:12.5px;
	margin-right: 20px;
}
.create_rep_btn p {
font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	margin-top:0px;
	margin-bottom: 0px;
}
.img_head{
	height: 50px;

}
.img_head_norm{
	height: 35px;
	margin-top:7.5px;
}
.img_head_norm1{
	height: 32px;
	margin-top:9px;
}
.account_info{
	display: flex;
	flex-direction: row;
	width:900px;
	height: 200px;
	margin:70px auto;
	margin-bottom: 30px;
}
.profile_photo{
	height: 200px;
	width:200px;
	border:0px solid grey;
}
.profile_info{
	height: 200px;
	width:700px;
	margin-left:-1px;
	border:0px solid grey;
}
.name_and_lname{
	font-family: Montserrat;
	font-size: 30px;
	margin-left:20px;
	color:#686868;
	margin-top:1px;
	margin-bottom: 0px;
}
.username_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#494949;
	margin-top:6px;
	margin-bottom: 0px;
}
.description_profile{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	margin-top:16px;
}
.my_rank_img{
	height: 40px;
	margin-left:20px;
}
.flex_rank{
	display: flex;
	flex-direction: row;
}
.rank_name{
	font-family: Montserrat;
	color:#5A5A5A;
	font-size: 22px;
	margin-top:0px;
	margin-left:7px;
	margin-bottom: 7px;
}
.progress_flex{
	display: flex;
	flex-direction: column;
}
.grey_progress{
	width:210px;
	height: 8px;
	border-radius: 10px;
	background: #EDEDED;
	margin-left:7px;
}
.subs_follows{
	height: 100px;
	width:900px;
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	margin-top:0px;
}
.subs_follows p{
	font-family: Montserrat;
	color:#585858;
	font-size: 16px;
	margin-top:2px;
	margin-bottom: 0px;
	text-align: center;
}
.sbs_flex_part{
	display: flex;
	flex-direction: column;
}
.best_recipes_rewards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0 auto;
	width:900px;
}
.my_rewards{
	height: 150px;
	width:400px;
	border-radius: 15px;
	background: #F3F3F3;
	text-decoration: none;
}
.my_rewards_1{
	display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.my_best_recipes{
	height: 150px;
	width:400px;
	text-decoration: none;
	border-radius: 15px;
	background: #F3F3F3;
}
.rew_pra{
	font-family: Montserrat;
	font-size: 20px;
	color:#7C7C7C;
}
.reward_img{
	height: 60px;
	margin-right: -40px;
	margin-left:20px;
}
.reward_last{
	height: 60px;
	width:60px;
	background: #F87A5D;
	border-radius: 50px;
	margin-left:20px;
}
.reward_last p {
	color:white;
	line-height: 60px;
	text-align: center;
	font-family: Montserrat;

	font-size:20px;
	margin-top:0px;
	margin-bottom: 0px;
}
.my_popular{
		display: flex;
	flex-direction: row;
	width:380px;
	margin-left:10px;
}
.popular_img{
	height: 60px;
	width:60px;
	object-fit: cover;
	border-radius: 50px;
	margin-left:13px;
}
.all_recipes_my_profile{
	display: flex;
	flex-flow:row wrap;
	width:1145px;
	margin:50px auto;
	height: auto;
}
.recipe_link_profile_add{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.recipe_link_profile{
	height: 250px;
	width:350px;
	border-radius: 10px;
	background: #F3F3F3;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.my_chedevres_name{
	font-family: Montserrat;
	font-size:25px;
	color:#686868;
	margin-top:50px;
	text-align:center;
}
.add_btn_recipe_photo{
	height: 90px;
	margin-top:0px;
}
.centering_img_addbtn{
	line-height: 250px;
	padding-top:45px;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: center;
}
.recipe_link_profile_add:hover{
	background:#FFF4F4;
	transition:0.3s;
	margin-left:15px;
	margin-right: 15px;
	transition:0.2s;
}
.image_recipe{
	height: 250px;
	width: 350px;
	border-radius: 10px;
	margin-top:0px;
	object-fit: cover;
	margin-bottom: 0px;
}
.hover_info_show{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.4s ease-out;
	cursor: pointer;
	height: 250px;
	width: 350px;
	position: absolute;
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	margin-top:-254px;
}
.recipe_link_profile:hover .hover_info_show{
	visibility: visible;
	cursor: pointer;
	opacity: 1;
	transition: visibility 0.2s, opacity 0.4s ease-out;
}
.main_in_hidden_recipe{
	margin-top:60px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;

}
.normal_hidden{
	margin-top:10px;
	margin-bottom: 0px;
	color:white;
	font-size: 20px;
	font-family: Montserrat;
}
.change_first_name{
	height: 30px;
	width:200px;
	background:#F0F0F0;
	border: 0px solid black;
	border-radius: 10px;
	outline: none;
	padding-left: 9px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;
}
.change_first_name:focus{
	height: 28px;
	width: 199px;
	background:#EBEBEB;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding-left: 8px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;

}
.change_last_name{
	height: 30px;
	width:200px;
	background:#F0F0F0;
	border: 0px solid black;
	border-radius: 10px;
	outline: none;
	padding-left: 9px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;
}
.change_last_name:focus{
	height: 28px;
	width: 199px;
	background:#EBEBEB;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding-left: 8px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;

}
.name_and_lname_change{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	margin-top:1px;
	margin-bottom: 0px;
}
.username_profile_edit{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	margin-top:15px;
	margin-bottom: 0px;
}
.change_username{
	height: 30px;
	width:200px;
	background:#F0F0F0;
	border: 0px solid black;
	border-radius: 10px;
	outline: none;
	padding-left: 9px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;
}
.change_username:focus{
	height: 28px;
	width: 199px;
	background:#EBEBEB;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding-left: 8px;
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;

}
.about_user_edit{
	color:#686868;
	font-family: Montserrat;
	font-size: 17px;
	background:#F0F0F0;
	border: 0px solid lightgrey;
	border-radius: 10px;
	outline: none;
	resize: none;
	padding:9px;
}
.description_profile_edit{
	font-family: Montserrat;
	font-size: 20px;
	margin-left:20px;
	color:#686868;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.save_editinfo{
	background: #4AD6AD;
	border-radius: 10px;
	height: 30px;
	width:150px;
	font-family: Montserrat;
	font-size: 15px;
	color:white;
	border:0px solid white;
	margin-right: 50px;
	outline: none;
	cursor: pointer;
	ransition: 0.2s;
	margin-top:-20px;
}
.save_editinfo:focus{
	background: #4AD6AD;
	transition: 0.2s;
	border-radius: 15px;
	height: 30px;
	width:150px;
	font-family: Montserrat;
	font-size: 15px;
	color:white;
	border:1px solid white;
	margin-right: 50px;
	outline: none;
	cursor: pointer;
	margin-top:-20px;
}
.img_profile{
	object-fit: cover;
	height: 150px;
	width:150px;
	border-radius: 500px;
}
#blah1{

  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.customMainSelected1{
  font-family: Montserrat;
  color:#5C5C5C;
  font-size: 15px;
  display: inline-block;
  padding:6px;
  width: 138px;
  background:#F0F0F0; 
  text-align: center;
  cursor: pointer;
    border-radius: 15px;
}
.customMain1{
  font-family: Montserrat;
  font-size: 15px;
  color:#5C5C5C;
    display: inline-block;
    padding-top:65px;
    text-align: center;
    height: 85px;
    width:150px;
    cursor: pointer;
    border-radius: 150px;
    background-color:#F0F0F0;; 
}
.hide{
	display: none;
}
.img_pos_change{
	height: 150px;
	width:150px;
}
}



















/*

By Alexey ###################################################################################################

*/











/*
###################################################################################################
*/

