{% extends "main/header.html" %}
{% load static %}
{% block content %}
<!-- GET, POST !-->


{% csrf_token %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<p align='center'>Send example form</p>
<p align='center'><input type="text" id='alexText' placeholder="Type your value.."></p>
<p align='center'><input type="submit" id='alexLabel' value='AJAX DO IT!'></p>



{% for item in text %}

  {% for elem in item.my_products.all %}
  <div style='height:200px;width:200px;border:1px solid black;margin:20px auto;'>

    <p align='center'>{{ elem.name }}</p>
    <p align='center'>{{ elem.time }}</p>
    <p align='center'>{{ elem.category }}</p>
  </div>
{% endfor %}
{% endfor %}
<script>
  let ajaxSendBtn = document.getElementById('alexLabel')

  ajaxSendBtn.addEventListener('click', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'/alexPost/',
      data:{
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        alexExText:$('#alexText').val(),
    },
    success:function(){
      alert('success')
    }
    })
  })

</script>
{% endblock %}
