{% extends "main/header.html" %}
{% load static %}
{% block content %}

<div class="profileBlock">
  <h2 class="main_head_text">Створити рецепт</h2>
  <div class="flexPhotoInfo">
    <div class="infoAboutMeAdd">
      <form  style='display:none' method="POST" action='.' id="ajax" enctype="multipart/form-data">
        {% csrf_token %}
      <p style="display:none;"><input type="text" name="uuid_recipe" maxlength="100" id="id_uuid_recipe" value='{{ recipe.uuid_recipe }}'></p>
      <input type="text" name="wtr" id='wtrFile' value="">
      <input type="file" name="image" id="inputFile">
      <input id="submit12" type="submit" value='add'>
    </form>


        <p style="display:none;"><input type="text" name="uuid_recipe" maxlength="100" id="id_uuid_recipe" value='{{ recipe.uuid_recipe }}'></p>
        <p style="display:none;"><input type="text" name="emailof_creator" value="{{ request.user.email }}" ></p>
        <p class="centerB"><input type="text" name="name" class="nameAdd" placeholder="Назва страви" maxlength="250" id="id_name" onchange="saveDraft('name')" {% if recipe.name != None %} value='{{ recipe.name }}'{% endif %}></p>
        {% if recipe.image_prod == 'blank.png'%}
        <p class="centerB"><img id="blah0" src="#" alt="your image" class="hide" /></p>
        <p class="centerPhoto"><label class="customMain0" for="id_image_prod"><img class="wrapper_photo" src="{% static 'img/add_photo.png' %}"><br>Додати фото обкладинки</label></p>
        {% else %}
        <p class="centerB"><img id="blah0" src="{{ recipe.image_prod.url }}" alt="your image" class="" /></p>
        <p class="centerPhoto"><label class="customMainSelected0" for="id_image_prod">Змінити фото</label></p>
        {% endif %}

       <p class="locate_center"><input type="text" name="description" class="descriptionAdd" placeholder="Короткий опис" maxlength="200" id="id_description" onchange="saveDraft('description')" {% if recipe.description != None %} value='{{ recipe.description }}' {% endif %}></p>
      <p class="locate_center"><input type="text" name="time" class="timeAdd" placeholder="Час для приготування" maxlength="50" id="id_time" onchange="saveDraft('time')" {% if recipe.time != None %} value='{{ recipe.time }}' {% endif %}></p>
      <p class="locate_center">Категорія: <select name="category" id="id_category" onchange="saveDraft('category')">
  <option value="" {% if recipe.category == 'None' %}selected{% endif %}>---------</option>

  <option value="Горячие блюда" {% if recipe.category == 'Горячие блюда' %}selected{% endif %}>Горячие блюда</option>

  <option value="Бульоны и супы" {% if recipe.category == 'Бульоны и супы' %}selected{% endif %}>Бульоны и супы</option>

  <option value="Салаты" {% if recipe.category == 'Салаты' %}selected{% endif %}>Салаты</option>

  <option value="Закуски" {% if recipe.category == 'Закуски' %}selected{% endif %}>Закуски</option>

  <option value="Выпечка" {% if recipe.category == 'Выпечка' %}selected{% endif %}>Выпечка</option>

  <option value="Десерты" {% if recipe.category == 'Десерты' %}selected{% endif %}>Десерты</option>

  <option value="Соусы" {% if recipe.category == 'Соусы' %}selected{% endif %}>Соусы</option>

</select></p>
      <p class="locate_center">Складність: <select name="hardnessCook" id="id_hardnessCook" onchange="saveDraft('hardnessCook')">
  <option value="" {% if recipe.hardnessCook == 'None' %}selected{% endif %}>---------</option>

  <option value="Очень легко" {% if recipe.hardnessCook == 'Очень легко' %}selected{% endif %}>Очень легко</option>

  <option value="Легко" {% if recipe.hardnessCook == 'Легко' %}selected{% endif %}>Легко</option>

  <option value="Средняя сложность" {% if recipe.hardnessCook == 'Средняя сложность' %}selected{% endif %}>Средняя сложность</option>

  <option value="Нужен опыт" {% if recipe.hardnessCook == 'Нужен опыт' %}selected{% endif %}>Нужен опыт</option>

  <option value="Сложно" {% if recipe.hardnessCook == 'Сложно' %}selected{% endif %}>Сложно</option>

  <option value="Очень сложно" {% if recipe.hardnessCook == 'Очень сложно' %}selected{% endif %}>Очень сложно</option>

</select></p>

            <p class="ingredients_text">Інгредієнти</p>
            <div class="ingr1" id="ingr1">
                <h5 id="ingr1_style"><input type="text" name="ingredient1" maxlength="200" id="id_ingredient1" placeholder="Введіть 1 інгредієнт" {% if recipe.ingredient1 != None %} value='{{ recipe.ingredient1 }}' {% endif %}></h5>
                <h5 id="ingr2_style"><input type="text" onchange="saveDraft('mas1')" name="mas1" maxlength="100" id="id_mas1" placeholder="К-сть" {% if recipe.mas1 != None %} value='{{ recipe.mas1 }}' {% endif %}></h5>
                <p class="center"><span  class="" id="addRecBtnIngr1" onclick="addRecFormIngr(1)"></span></p>
            </div>
            {% for ingr, mas, k in allIngrs %}
            <div class="hide" id="ing{{ k }}">
            <div id="ingr{{ k }}">
              <h5 id="ingr1_style"><input type="text" name="ingredient{{ k }}" maxlength="200" id="id_ingredient2" placeholder="Введіть {{ k }} інгредієнт" {% if ingr != None %} value='{{ ingr }}' {% endif %}></h5>
              <h5 id="ingr2_style"><input type="text" onchange="saveDraft('mas{{ k }}')" name="mas{{k }}" maxlength="100" id="id_mas{{ k }}" placeholder="К-сть" {% if mas != None %} value='{{ mas }}' {% endif %}></h5>

                <p class="center"><span  class="" id="addRecBtnIngr{{ k }}" onclick="addRecFormIngr({{ k }})"></span></p>
            </div>
          </div>
            {% endfor %}


      <div class="step1" id="step1">
            <p class="step_inscription">Крок 1</p>
          <p id="desc1_style"><textarea name="desc1" cols="40" rows="10" id="id_desc1" onchange="saveDraft('desc1')" placeholder="Опишіть 1 шаг приготування вашого шедевру" spellcheck="false">{% if recipe.desc1 != None %}{{ recipe.desc1 }}{% endif %}</textarea></p>
          {% if recipe.image1 == 'blank.png'%}
          <p class="centerB"><img id="blah1" src="#" alt="your image" class="hide" /></p>
          <p class="centerPhoto"><label class="customMain1" for="id_image1"><img class="wrapper_photo" src="{% static 'img/add_photo.png' %}"><br>Додати фото кроку</label></p>
          {% else %}
          <p class="centerB"><img id="blah1" src="{{ recipe.image1.url }}" alt="your image" class="" /></p>
          <p class="centerPhoto"><label class="customMainSelected1" for="id_image1">Змінити фото</label></p>
          {% endif %}

          <p class="center"><div {% if recipe.image2 != 'blank.png'%}class="hide"{% endif %} id="addRecBtn1" onclick="addRecForm(1)">Додати крок</div></p>
      </div>



      {% for desc, img_url, img_urlplone, descs_plone_arr, k in allSteps %}
      <div {% if img_url == '/img/blank.png' and desc == None%} class="hide" {% endif %} id="step{{ k }}">

            <p class="step_inscription">Крок {{ k }}</p>

          <h5 id="desc1_style"><textarea name="desc{{ k }}" cols="40" rows="10" id="id_desc{{ k }}" onchange="saveDraft('desc{{ k }}')" placeholder="Опишіть {{ k }} крок приготування вашого шедевру" spellcheck="false">{% if desc != None %}{{ desc }}{% endif %}</textarea></h5>
          {% if img_url == '/img/blank.png'%}
          <p class="centerB"><img id="blah{{ k }}" src="#" alt="your image" class="hide" /></p>
          <p class="centerPhoto"><label class="customMain{{ k }}" for="id_image{{ k }}"><img class="wrapper_photo" src="{% static 'img/add_photo.png' %}"><br>Додати фото кроку</label></p>
          {% else %}
          <p class="centerB"><img id="blah{{ k }}" src="{{ img_url }}" alt="your image" class="" /></p>
          <p class="centerPhoto"><label class="customMainSelected{{ k }}" for="id_image{{ k }}">Змінити фото</label></p>
          {% endif %}
           <p class="center"><div {% if img_url != '/img/blank.png' and descs_plone_arr != None %}class="hide"{% endif %} id="addRecBtn2" onclick="addRecForm({{ k }})">Додати крок</div></p>
      </div>
      {% endfor %}



      <form id='formImg0' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input style="display:none;" type="text" name="wtr" id='wtrFile' value="mainImage">
            <p style="display:none;"><input type="text" name="uuid_recipe" maxlength="100" id="id_uuid_recipe" value='{{ recipe.uuid_recipe }}'></p>
            <input type="file" name="image" accept="image/*" id="id_image_prod" onchange="readURL(this, 0);">
      </form>
      {% for k in k_arr %}
      <form id='formImg{{ k }}' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input style="display:none;" type="text" name="wtr" id='wtrFile' value="img{{ k }}">
        <p style="display:none;"><input type="text" name="uuid_recipe" maxlength="100" id="id_uuid_recipe" value='{{ recipe.uuid_recipe }}'></p>

      <input type="file" style="display: none;" name="image" accept="image/*" id="id_image{{ k }}" onchange="readURL(this, {{ k }});">
      </form>
      {% endfor %}
      <h4 style="display: none;"><input type="text" name="adderOf" id="id_adderOf" value="{{request.user.username}}"></h4>
      <div class="lefter"><input type="submit" name="submiting" id='id_submitForm' onclick='saveDraft("submitForm")' value="Сохранить" class="addrButton"></div>

    </div>
</div>
</body>
<script type="text/javascript">


function readURL(input, num) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#blah'+ num)
                    .attr('src', e.target.result)
                document.getElementById("blah"+ num).classList.remove('hide');
                $('.customMain'+ num).toggleClass("customMainSelected"+ num);
                 $('.customMain'+ num).toggleClass("customMain"+ num);
                 $(".customMainSelected"+ num).text("Змінити фото");
            };

            reader.readAsDataURL(input.files[0]);
            console.log(input.files[0]);
            setFile = document.getElementById('inputFile')
            setFile.files[0] = input.files[0]
            saveDraftimage(num)
        }
    }

function addRecForm(num){
    $('#step'+(num+1)).fadeIn(800);
    $('#addRecBtn'+num).toggleClass("hide");
    window.scrollTo({
    top: 10000,
    behavior: "smooth"
});
}

function alertError(){
    alert("Приносим свои извинения, вы достигли максимального количества шагов, ваша проблема записана в статистику")
}

function saveDraftimage(num){
  var data = new FormData($('#formImg'+num).get(0));
  console.log(data)

  $.ajax({
      url: '/imageRecipeSave/', // same url 'action' in form
      type: 'POST',
      data: data,
      contentType: 'multipart/form-data',
      processData: false,
      contentType: false,
      success: function(data) {
          console.log('draft updated')
      }
  });
}



function saveDraft(name){
  let valOut = $('#id_' + name).val()
  if (name.slice(0, 3) == 'mas'){
      ingr = $('#id_ingredient' + name.slice(3))
      console.log(ingr.val())
      $.ajax({
        type:'POST',
        url:'/newrecipe/',
        data:{
          actionToDo:name,
          value:valOut,
          ingredient:ingr.val(),
          uuid_recipe:$('input[name=uuid_recipe]').val(),
          emailof_creator:$('input[name=emailof_creator]').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(){
        console.log('sent successfuly ingr')
      }
      })
  } else{
      if (name == 'submitForm'){
          document.location.href = '/profile'
      }
      if ( name == 'category' ){
          let e = document.getElementById("id_category");
          valOut = e.options[e.selectedIndex].text;
      }
      if ( name == 'hardnessCook' ){
          let e = document.getElementById("id_hardnessCook");
          valOut = e.options[e.selectedIndex].text;
      }

      $.ajax({
        type:'POST',
        url:'/newrecipe/',
        data:{
          actionToDo:name,
          value:valOut,
          uuid_recipe:$('input[name=uuid_recipe]').val(),
          emailof_creator:$('input[name=emailof_creator]').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(){
        console.log('sent successfuly')
      }
      })
    }
}


function addRecFormIngr(num){
    $('#ing'+(num+1)).fadeIn(800);
    $('#addRecBtnIngr'+num).toggleClass("hide");
}
function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}
console.log(uuidv4())
//$('#id_uuid_recipe').val(uuidv4())
</script>


{% endblock %}
