{% extends "main/header.html" %}
{% load static %}
{% block title %}
Feed
{% endblock %}
{% block content %}


<h1 class="myStorage_label1">Рекомендації</h1>
<div class="mainFeedBlock">
  <div class="friendRecommendation">
    <div class="flexFriendTextHead">
      <img src="{% static 'img/contacts-128.png' %}" alt="friends">
      <p class="yourfriendsarelookin">Ваші друзі слідкують за:</p>

      </div>
      <div class="reclistFriends" id='frList'>

        
        <div class="frPattern">
          <div class="imgFriendEx">
            <img src="{{ request.user.image_profile.url }}" class="usersinfoImageFriendListRec">
          </div>
          <div class="infoFriendEx">
            <p class='infoExFriendText'>{{ request.user.first_name }} {{ request.user.last_name }}</p>
            <div class="rankFlex">
              <img src="{% static 'img/cook-128.png' %}" class="medalPost">
              <p>{{ request.user.rank }}</p>
            </div>
          </div>
        </div>


    </div>

  </div>
  <div class="PostFeed">

    {% for recipe, k, user, is_liked, likesCount in recipesFeed %}
    <div class="feedPostEx">
      <div class="usersInfoPost">
      <a href='{% url "viewuser" user.pk %}'>  <img src="{{ user.image_profile.url }}" class="usersinfoImage"></a>
        <a href='{% url "viewuser" user.pk %}' class="nameAndUsernamePost">
          <p class="usersPostName">{{ user.first_name }} {{ user.last_name }}</p>
          <div class="rankPost_user">
            <img src="{% static 'img/cook-128.png' %}" class="medalPost">
            <p class="rankPostName">{{ user.rank }}</p>
          </div>
        </a>
      </div>
      <div class="textAndImagePost">
        <p class="descPostFeed">{{ recipe.description }}</p>
        {% if recipe.image_prod != None %}
        <a href='{% url "viewrecipe" recipe.pk %}'><img src="{{ recipe.image_prod.url }}" class="imagePostView"></a>
        {% endif %}
      </div>
      <div class="likeCommentView">
        <form method="post" style='display:none' onsubmit="putLike({{ k }})" id='PutLikeForm{{ k }}'>
          {% csrf_token %}
          {% if is_liked %}
          <input style='display:none' type="text" id='id_actionToDoLike{{ k }}' name="actionToDoLike" value="removelike">
          {% else %}
            <input style='display:none' type="text" id='id_actionToDoLike{{ k }}' name="actionToDoLike" value="like">
          {% endif %}
          <input style='display:none' type="text" id='id_whoLikes{{ k }}' name="whoLikes" value="{{ request.user.email }}">
          <input style='display:none' type="text" id='id_whatToLike{{ k }}' name="whatToLike" value="{{ recipe.uuid_recipe }}">
          <input style='display:none' type="submit" id='submitLike{{ k }}'>
        </form>
        {% if is_liked %}
        <label class="puLikeBtnPost" for='submitLike{{ k }}'>
           <span id='heartid{{ k }}' class="heart heartActive"></span><p class='qunLikes' id='likesCountPost{{ k }}'>{{ likesCount }}</p>
        </label>
        {% else %}
        <label class="puLikeBtnPost" for='submitLike{{ k }}'>
           <span id='heartid{{ k }}' class="heart"></span><p class='qunLikes' id='likesCountPost{{ k }}'>{{ likesCount }}</p>
        </label>
        {% endif %}
        <div class="openCommentsPost">
            <input style="display: none" type="checkbox" id="lesonCheck"><p align="left" class="pinSet">Інші коментарі</p>
            <label class="set_lessons" id="set_les" for="lesonCheck" onclick="openComments({{ k }})">
              <span id="openComBtn{{ k }}"></span>
            </label>
        </div>
        <div class="putCommentPost">
          <input type="text" name="" value="" placeholder="Комментар.." class="leaveCommentForm">
        </div>
      </div>
      <div class="commex{{ k }} commentsClosed" id='commm{{ k }}'>

      </div>
    </div>
    {% endfor %}





  </div>
  <div class="MakeListProducts">


  </div>

</div>
<script>

  window.onload = function(){
    $.get('/friendrec/',
          function(response){
              //document.getElementById('frList').innerHTML += response.misha
         }

    );
  }





    function openComments(num){
        $('.commex'+num).toggleClass('commentsOpened');
        if (document.getElementById("commm" + num).classList.contains('commentsOpened')){


        document.getElementById('openComBtn' + num).style.transform = 'rotate(' + 180 + 'deg)';
      } else{
        document.getElementById('openComBtn' + num).style.transform = 'rotate(' + 0 + 'deg)';
      }
    }


    function putLike(k) {

      $(document).on('submit', '#PutLikeForm'+k, function(e) {
        e.preventDefault();
      });
        $('#heartid'+k).toggleClass('heartActive')
        document.getElementById('submitLike'+k).disabled = true
        if ($('#id_actionToDoLike'+k).val() == 'like'){
          let usersCountSubs = document.getElementById('likesCountPost'+k).innerHTML = parseInt(document.getElementById('likesCountPost'+k).innerHTML) + 1;
        } else {
            let usersCountSubs = document.getElementById('likesCountPost'+k).innerHTML = parseInt(document.getElementById('likesCountPost'+k).innerHTML) - 1;
        }

      $.ajax({
        type:'POST',
        url:'/feed/',
        data:{
          actionToDoLike:$('#id_actionToDoLike'+k).val(),
          whoLikes:$('#id_whoLikes'+k).val(),
          whatToLike:$('#id_whatToLike'+k).val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(){
        console.log('liked successfuly')
        document.getElementById('submitLike'+k).disabled = false
        if ($('#id_actionToDoLike'+k).val() == 'removelike'){
          $('#id_actionToDoLike'+k).val('like')
        } else {
            $('#id_actionToDoLike'+k).val('removelike')
        }
      }
      })
    }
</script>

{% endblock %}
