{% extends "main/header.html" %}
{% load static %}
{% block content %}
											<!-- Profile information section -->
<section class="account_info">
	<div class="profile_photo">
		<p align="center"><img class="img_profile" src="{% static 'img/profile_ph.png' %}"></p>
	</div>
	<div class="profile_info">


		<p class="name_and_lname">Misha Gavura</p>
		<p class="username_profile">@mishagavura</p>
		<p class="description_profile">I love to cook and everything that you can imagine is on my profile) </p>



		<div class="flex_rank">
			<img src="{% static 'img/rank.png' %}" class="my_rank_img">
			<div class='progress_flex'>
				<p class="rank_name">Ранг: Початківець</p>
				<div class='grey_progress'>
					<div class='red_progress'>
					
					</div>
				</div>
			</div>
		</div>





	</div>
</section>
												<!-- Subscribers section -->
<section class="subs_follows">
	<div class="sbs_flex_part">
		<p>12k</p>
		<p>Підписники</p>
	</div>
	<div class="sbs_flex_part">
		<p>178</p>
		<p>Підписки</p>
	</div>
	<div class="sbs_flex_part">
		<p>12</p>
		<p>Публікації</p>
	</div>
</section>


												<!-- Rewards and best recipes section -->
<section class="best_recipes_rewards">
<a class="my_rewards" href="#">
	<p align="center" class="rew_pra">Нагороди</p>
<div class="my_rewards_1">
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<div class="reward_last"><p>+17</p></div>
</div>
</a>
<a class="my_best_recipes" href="#">
	<p align="center" class="rew_pra">Популярні рецепти</p>
	<div class="my_popular">
	<img src="{% static 'img/photo-1467003909585-2f8a72700288.jpg' %}" class='popular_img'>
	<img src="{% static 'img/photo-1481931098730-318b6f776db0.jpg' %}" class='popular_img'>
	<img src="{% static 'img/photo-1567620905732-2d1ec7ab7445.jpg' %}" class='popular_img'>
	<img src="{% static 'img/photo-1484980972926-edee96e0960d.jpg' %}" class='popular_img'>
	<img src="{% static 'img/photo-1481070555726-e2fe8357725c.jpg' %}" class='popular_img'>
</div>
</a>
</section>


												<!-- All my recipes section -->
<p class="my_chedevres_name">Мої шедеври</p>
<section class="all_recipes_my_profile">
	<a class="recipe_link_profile" href="#">
		<p class="centering_img_addbtn"><img src="{% static 'img/add_recipe.png' %}" class="add_btn_recipe_photo"></p>
	</a>
	<div class="recipe_link_profile">
		
	</div>
	<div class="recipe_link_profile">
		
	</div>
</section>
{% endblock %}