{% extends "main/header.html" %}
{% load static %}
{% block content %}
<input type="hidden" id='id_whatToShowSubs' value="subs">
<input type="hidden" id='id_email' value="{{ request.user.email }}">
<div class="subListsbackHide hide" id='id_closeSubsList'>

</div>
<div class="subLists hide" id='subslist'>
	<div class="headerSubs">
<div class="mysubsListHead" id='id_mysubs'>
	<p align='center' class="textSubsListMain selectedSubsList">Мої підписники</p>
</div>
<div class="myFollowsHead" id='id_myfollows'>
	<p align='center' class="textSubsListMain">Мої підписки</p>
</div>
	</div>

	<div class="listOfSubsReal" id='listUsersAjax'>
		<div id='preloading' class="linePreloader"></div>
		<div class='xcloseround'><a href="#" class="close"></a></div>
	</div>
	<div class="listOfFollowsReal hide" id='listUsersAjaxFollows'>
		<div id='preloading1' class="linePreloader"></div>
		<div class='xcloseround'><a href="#" class="close"></a></div>
	</div>
</div>
									<!-- Profile information section -->
<section class="account_info">
	<div class="profile_photo">
		<p align="center"><img class="img_profile" src="{{ request.user.image_profile.url }}"></p>
	</div>
	<div class="profile_info">


		<div class="nameAndSubscribe">

			<p class="name_and_lname">{{ request.user.first_name }} {{ request.user.last_name }}</p>

		</div>
		<p class="username_profile">@{{ request.user.username }}</p>
		<p class="description_profile">{{ request.user.about }}</p>



		<div class="flex_rank">
			<img src="{% static 'img/rank.png' %}" class="my_rank_img">
			<div class='progress_flex'>
				<p class="rank_name">Ранг: {{ request.user.rank }}</p>
				<div class='grey_progress'>
					<div style="width:{{ request.user.rank_percentage }}%;height: 8px;border-radius: 10px;background: #F87A5D;">

					</div>
				</div>
			</div>
		</div>





	</div>
</section>
												<!-- Subscribers section -->
	<section class="subs_follows">
		<div class="sbs_flex_part" id='subsbtnShow' style='cursor:pointer'>
			<p>{{ subs.followed_by.all.count }}</p>
			<p>Підписники</p>
		</div>
		<div class="sbs_flex_part">
			<p>{{ subs.following.all.count }}</p>
			<p>Підписки</p>
		</div>
		<div class="sbs_flex_part">
			<p>{{ request.user.my_recipes.all.count }}</p>
			<p>Публікації</p>
		</div>
	</section>


												<!-- Rewards and best recipes section -->
<section class="best_recipes_rewards">
<a class="my_rewards" href="#">
	<p align="center" class="rew_pra">Нагороди</p>
<div class="my_rewards_1">
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward.png' %}" class='reward_img'>
	<img src="{% static 'img/exreward_1.png' %}" class='reward_img'>
	<div class="reward_last"><p>+17</p></div>
</div>
</a>
<div class="my_best_recipes">
		<p align="center" class="rew_pra">Популярні рецепти</p>
	<div class="my_popular">
		{% for item in pop_recipes %}
		<a class="popular_img" href='{% url "viewrecipe" item.post.pk %}'>
			<img src='{{ item.post.image_prod.url }}' class='popular_img'>
			<div class="hoverPopShow">
				<p class='qofpoplikes'>{{ item.usersLiked.all.count }}</p>
			</div>

	</a>
	{% endfor %}
	</div>
</div>

</section>

												<!-- All my recipes section -->
<p class="my_chedevres_name">Мої шедеври</p>
<section class="all_recipes_my_profile">

	<a class="recipe_link_profile_add" href="#">
		<p class="centering_img_addbtn"><img src="{% static 'img/add_recipe.png' %}" class="add_btn_recipe_photo"></p>
	</a>
	{% for item in myrecipes %}
	<a class="recipe_link_profile" href="{% url 'viewrecipe' item.id %}">
		<img src="{{ item.image_prod.url }}" class="image_recipe">
		<div class="hover_info_show">
			<p align="center" class="main_in_hidden_recipe">{{ item.name }}</p>
			<p align="center" class="normal_hidden">{{ item.category }}</p>
			<p align="center" class="normal_hidden">{{ item.time }}</p>
			<p align="center" class="normal_hidden">{{ item.hardnessCook }}</p>
		</div>
	</a>
	{% endfor %}
</section>
<script type="text/javascript">

let showSubsBtn = document.getElementById('subsbtnShow');
let closeSubsList = document.getElementById('id_closeSubsList');

let showSubs = document.getElementById('id_mysubs')
let showFollows = document.getElementById('id_myfollows')




let is_SubsListOpened = false
let is_FollowsListOpened = false
function showBackSubs(){
	$('#id_closeSubsList').toggleClass('subListsback')
}

$(document).on({
	 ajaxStop: function() {
		 if (document.getElementById('listUsersAjax').classList.contains('hide')){
			  $('#preloading1').toggleClass('hide');
				document.getElementById("listUsersAjaxFollows").style.borderTop = '2px solid lightgrey';
		} else {
			$('#preloading').toggleClass('hide');
			document.getElementById("listUsersAjax").style.borderTop = '2px solid lightgrey';
		}

	 }
});


showFollows.addEventListener('click', function(){
	$('#listUsersAjaxFollows').toggleClass('hide')
	$('#listUsersAjax').toggleClass('hide')
	$('#id_myfollows p ').toggleClass('selectedSubsList')
	$('#id_mysubs p ').toggleClass('selectedSubsList')
	$('#id_whatToShowSubs').val('follows')
	if (is_FollowsListOpened == false){
		is_FollowsListOpened = true
	$.get('/loadsubs/',
				{'wtd':$('#id_whatToShowSubs').val(), 'email':$('#id_email').val()},
				function(response){
					console.log(response)
						for(let item in response){
							document.getElementById('listUsersAjaxFollows').innerHTML += '<a class="personFollower" href=\'/' + response[item][0] + '/viewuser\'>' +
								'<div class="personsPhotoListSubs">' +
									'<img src="'+ response[item][3] +'">' +
								'</div>' +
							'<div class="personsInfoSubList">' +
									'<p>' + response[item][1] + ' ' + response[item][2] + '</p>'+
									'<p>' + response[item][4] + '</p>'+
								'</div>'
							'</a>'
						}
			 }


	);
}


})
showSubs.addEventListener('click', function(){
	$('#listUsersAjaxFollows').toggleClass('hide')
	$('#listUsersAjax').toggleClass('hide')
	$('#id_myfollows p ').toggleClass('selectedSubsList')
	$('#id_mysubs p ').toggleClass('selectedSubsList')
	$('#id_whatToShowSubs').val('subs')
})


closeSubsList.addEventListener('click', function(){
	setTimeout(showBackSubs, 1)
	$('#id_closeSubsList').toggleClass('hide');
	$('.subLists').toggleClass('hide')
	$('.subLists').toggleClass('active')
});

showSubsBtn.addEventListener('click', function(){
	$('#id_closeSubsList').toggleClass('hide');
	setTimeout(showBackSubs, 1)

	$('.subLists').toggleClass('hide')
	$('.subLists').toggleClass('active')


	if (is_SubsListOpened == false)	{
		is_SubsListOpened = true
	$.get('/loadsubs/',
				{'wtd':$('#id_whatToShowSubs').val(), 'email':$('#id_email').val()},
				function(response){
					console.log(response)
						for(let item in response){
							document.getElementById('listUsersAjax').innerHTML += '<a class="personFollower" href=\'/' + response[item][0] + '/viewuser\'>' +
								'<div class="personsPhotoListSubs">' +
									'<img src="'+ response[item][3] +'">' +
								'</div>' +
							'<div class="personsInfoSubList">' +
									'<p>' + response[item][1] + ' ' +  response[item][2] + '</p>'+
									'<p>' + response[item][4] + '</p>'+
								'</div>'
							'</a>'
						}
			 }

	);
}
})



function subscribe() {

	if ($('#subscribeButton_id p').text() == 'Відстежувати'){
			$('#subscribeButton_id p').text('Відстежується');
			$('.subplusIcon').toggleClass('subscribeActive');
			$('#subscribeButton_id').toggleClass('subscribeBTnActive')

	} else {
		$('#subscribeButton_id p').text('Відстежувати');
		$('.subplusIcon').toggleClass('subscribeActive');
		$('#subscribeButton_id').toggleClass("subscribeBTnActive");
	}

};
</script>
{% endblock %}
