{% extends "main/header.html" %}
{% load static %}
{% block title %}
My Storage
{% endblock %}
{% block content %}



  <h1 class="myStorage_label" id="myStorage_label"> Мої продукти </h1>
  <div class="add_product_button1" onclick="add_button()"></div>



<!--<form method="POST">
  {% csrf_token %}
  <div class="search">
      <span class="fa fa-search"></span>
      <input type='text' placeholder="Назва продукту">
  </div>
</form>-->

<div class = "storage_screen">

  <div class="categories">
    <h2 class="category_label"> Категорії  </h2>
    <p align="right">
    {% for item,k in categories %}
    <div>
      <div class="button_categories" onclick="viewDiv('{{ k }}')">

          <div class="flex_circle">
            {% if item == "Фрукти"%}
              <div class="categories_circle1"></div>

            {% endif %}

            {% if item == "Овочі"%}
              <div class="categories_circle2"></div>
            {% endif %}

            {% if item == "Молочні продукти"%}
              <div class="categories_circle3"></div>
            {% endif %}

            {% if item == "М'ясні вироби"%}
              <div class="categories_circle4"></div>
            {% endif %}

            {% if item == "Морепродукти"%}
              <div class="categories_circle5"></div>
            {% endif %}

            {% if item == "Бакалія"%}
              <div class="categories_circle6"></div>
            {% endif %}

            {% if item == "Консерви та приправи"%}
              <div class="categories_circle7"></div>
            {% endif %}

            {% if item == "Напої"%}
              <div class="categories_circle8"></div>
            {% endif %}

            {% if item == "Заморожені продукти"%}
              <div class="categories_circle9"></div>
            {% endif %}

            {% if item == "Улюблені продукти"%}
              <div class="categories_circle10"></div>
            {% endif %}
          </div>

          <div class="flex_stcategory">
            <p>{{ item }}</p>
          </div>
      </div>
    </div>
    {% endfor %}
    </p>

  </div>
  <div id='hiddenElems' class="hide">


      <div class="adding_product_screen">
        <h1 class="myStorage_adding_label"> Додати продукти </h1>

        <div class="add_product_div">
          <div class="add_product_form">
            {% csrf_token %}
            <div class="storage_form_and_circle">

           
           <div class="adding_circle" id='id_adding_circle'></div>
              <div class="autocomplete"><input type="text" name="nameUa" id="nameUa0" placeholder="Назва продукту.." class="adding_formstyles" autocomplete="off"></div>
              </div>
            <input type="number" step="0.1" name="quantity" id="quantity0" class="adding_formstyles_q" maxlength="4">
            <input type="submit" id="submit0" value="Додати" class="adding_formstyles_submit" onclick="ajaxbutton_storage(0)" >
          </div>
        </div>

      </div>



  	  <div class="category0_data" id="category0">
  	  	<div class="flex_name_category">
  	  		<div class="categories_circle1_screen2"></div>
  	  		<p class="name_of_category_screen2_1">{{categories_names.0}}</p>

          <div class="div_edit1"> 
            <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div>
          </div> 		 


  	  	</div>
  	  	<div class="lines_of_category_1"></div>

  	  	<ol class="list_of_products" id="id_list_of_products0">
          {% for item,k in products_array %}
            {%  if item.category == "Фрукти" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
  	  	</ol>


      </div>

       <!--
       <div class="adding_form0">
         {% csrf_token %}
            <p align="center"><input type="text" name="nameUa" id="nameUa0" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align="center"><input type="number" step="0.1" name="quantity" id="quantity0" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align="center"><input type="submit" id="submit0" value="Додати" class="adding_formstyles_submit" onclick="ajaxbutton_storage(0)" ></p>
      </div> -->


      <div class="category1_data" id="category1">
      	<div class="flex_name_category">
      		<div class="categories_circle2_screen2"></div>
      		<p class="name_of_category_screen2_2" >{{categories_names.1}}</p>

          <!-- <div class="div_edit2">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>   -->

      	</div>
      		<div class="lines_of_category_2"></div>
      		<ol class="list_of_products" id="id_list_of_products1">
            {% for item,k in products_array %}
            {%  if item.category == "Овочі" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>

      </div>


<!--
       <div class="adding_form1">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa1" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity1" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit1' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(1)"></p>

        </div> -->







      <div class="category2_data" id="category2">
      	<div class="flex_name_category">
      		<div class="categories_circle3_screen2"></div>
			<p class="name_of_category_screen2_3">{{categories_names.2}}</p>

          <!-- <div class="div_edit3">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>   -->
		</div>
			<div class="lines_of_category_3"></div>
      		<ol class="list_of_products"  id="id_list_of_products2">
            {% for item,k in products_array %}
            {%  if item.category == "Молочні продукти" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>


       <!-- <div class="adding_form2">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa2" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity2" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit2' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(2)"></p>

        </div> -->









      <div class="category3_data" id="category3">
      	<div class="flex_name_category">
      		<div class="categories_circle4_screen2"></div>
      		<p class="name_of_category_screen2_4">{{categories_names.3}}</p>

          <!-- <div class="div_edit4">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>   -->

      	</div>
      		<div class="lines_of_category_4"></div>
      		<ol class="list_of_products"   id="id_list_of_products3">
            {% for item,k in products_array %}
            {%  if item.category == "М'ясні вироби" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>



      <!-- <div class="adding_form3">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa3" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity3" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit3' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(3)"></p>

      </div> -->








      <div class="category4_data" id="category4">
      	<div class="flex_name_category">
      		<div class="categories_circle5_screen2"></div>
      		<p class="name_of_category_screen2_5">{{categories_names.4}}</p>

          <!-- <div class="div_edit5">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>   -->

      	</div>
      		<div class="lines_of_category_5"></div>
      		<ol class="list_of_products"   id="id_list_of_products4">
            {% for item,k in products_array %}
            {%  if item.category == "Морепродукти" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>


      <!-- <div class="adding_form4">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa4" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity4" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit4' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(4)"></p>

      </div> -->







      <div class="category5_data" id="category5">
      	<div class="flex_name_category">
      		<div class="categories_circle6_screen2"></div>
      		<p class="name_of_category_screen2_6">{{categories_names.5}}</p>

          <!-- <div class="div_edit6">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>   -->

        </div>
        	<div class="lines_of_category_6"></div>
        	<ol class="list_of_products"  id="id_list_of_products5">
            {% for item,k in products_array %}
            {%  if item.category == "Бакалія" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>

      <!-- <div class="adding_form5">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa5" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity5" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit5' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(5)"></p>

      </div> -->







      <div class="category6_data" id="category6">
      	<div class="flex_name_category1">
      		<div class="categories_circle7_screen2"></div>
      		<p class="name_of_category_screen2_7">{{categories_names.6}}</p>

           <!-- <div class="div_edit7">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
          <!-- </div>  -->

        </div>
        	<div class="lines_of_category_7"></div>
        	<ol class="list_of_products"  id="id_list_of_products6">
            {% for item,k in products_array %}
            {%  if item.category == "Консерви та приправи" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>



      <!-- <div class="adding_form6">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa6" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity6" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit6' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(6)"></p>

      </div> -->






      <div class="category7_data" id="category7">
      	<div class="flex_name_category">
      		<div class="categories_circle8_screen2"></div>
      		<p class="name_of_category_screen2_8">{{categories_names.7}}</p>

           <!-- <div class="div_edit8">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
           <!-- </div>  -->

        </div>
        	<div class="lines_of_category_8"></div>
        	<ol class="list_of_products"  id="id_list_of_products7">
            {% for item,k in products_array %}
            {%  if item.category == "Напої" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>

      <!-- <div class="adding_form7">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa7" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity7" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit7' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(7)"></p>

      </div> -->







      <div class="category8_data"  id="category8">
      	<div class="flex_name_category">
      		<div class="categories_circle9_screen2"></div>
			<p class="name_of_category_screen2_9">{{categories_names.8}}</p>

           <!-- <div class="div_edit9">  -->
            <!-- <div class="edit_product_button"> <img src='{% static "img/edit_list.png" %}' class="edit_btn"></div> -->
           <!-- </div>  -->

        </div>
        	<div class="lines_of_category_9"></div>
        	<ol class="list_of_products"   id="id_list_of_products8">
            {% for item,k in products_array %}
            {%  if item.category == "Заморожені продукти" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>

     <!--  <div class="adding_form8">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa8" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity8" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit8' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(8)"></p>

      </div> -->




 


      <div class="category9_data"  id="category9">
      	<div class="flex_name_category">
      		<div class="categories_circle10_screen2"></div>
	  		<p class="name_of_category_screen2_10">{{categories_names.9}}</p>
        </div>
        	<div class="lines_of_category_10"></div>
        	<ol class="list_of_products"   id="id_list_of_products9">
            {% for item,k in products_array %}
            {%  if item.category == "Улюблені продукти" %}
              <li class="category_data">{{ item.nameUa }}({{ k }})</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>

      <!-- <div class="adding_form9">
          {% csrf_token %}
            <p align='center'><input type="text" name="nameUa" id="nameUa9" placeholder="Назва продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="number" step="0.1" name="quantity" id="quantity9" placeholder="Кількість продукту.." class="adding_formstyles"></p>
            <p align='center'><input type="submit" id='submit9' value='Додати' class="adding_formstyles_submit"  onclick="ajaxbutton_storage(9)"></p>

      </div> -->
    </div>


  <div class = "storage_screen2" id="storage_screen2">

    <div class="products_list" id="div1_storage_screen2">

    </div>

  </div>
</div>

      <script>
        let i = 0;
        let variable = 0
        let array_openedcategories = []
        let counters = [0,0,0,0,0,0,0,0,0,0];
        function animate_st(a){
        	$(".category" + a + "_data").toggleClass("animated_storage_el");
        }
        function viewDiv(a){
          if(variable == 1){
            variable = 0
            $(".adding_product_screen").remove().clone().appendTo('#hiddenElems');
            $(".myStorage_label").remove().appendTo('#storage_screen2');
            // document.getElementById("myStorage_label").style.removeProperty('marginLeft');
            $(".add_product_button1").remove().appendTo('#storage_screen2');
            $("#div1_storage_screen2").remove().appendTo('#storage_screen2');
          
        	 $(".category" + a + "_data").removeClass("animated_storage_el");
        	 setTimeout(animate_st, 1, a);
          if(array_openedcategories.indexOf(a)==-1){
            if(i <= 2){
           	  $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');
              if(i == 1){
                i--
                document.getElementById('category' + array_openedcategories[0]).style.borderRight = "2px solid #DAAAAA";
                i++
              }
              if(i == 2){
                i--
                document.getElementById('category' + array_openedcategories[1]).style.borderRight = "2px solid #DAAAAA";
                i++
              }
              i++;
              array_openedcategories.push(a);
            }else{
              $(".category" + array_openedcategories[0] + "_data").removeClass("animated_storage_el");
              $(".category" + array_openedcategories[0] + "_data").remove().clone().appendTo('#hiddenElems');
              document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
              array_openedcategories.shift()
              array_openedcategories.push(a)
              $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');
              document.getElementById('category' + array_openedcategories[0]).style.borderRight = "2px solid #DAAAAA";
              document.getElementById('category' + array_openedcategories[1]).style.borderRight = "2px solid #DAAAAA";
              $(".adding_form" + a).remove().clone().appendTo('#hiddenElems');
            }
          }else{
          	$(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").removeClass("animated_storage_el");
            $(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").remove().clone().appendTo('#hiddenElems');
            if(array_openedcategories[0] == a)
            {
            document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
            }
            if(array_openedcategories[1] == a)
            {
              if(array_openedcategories.length == 2){
                document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
              }
              else{
                document.getElementById('category' + array_openedcategories[1]).style.removeProperty('border-right');
              }
            }
            if(array_openedcategories[2] == a)
            {
            document.getElementById('category' + array_openedcategories[1]).style.removeProperty('border-right');
            }
            array_openedcategories.splice(array_openedcategories.indexOf(a), 1)
            i--
            $(".adding_form" + a).remove().clone().appendTo('#hiddenElems');
          }
        }else{
           $(".category" + a + "_data").removeClass("animated_storage_el");
           setTimeout(animate_st, 1, a);
          if(array_openedcategories.indexOf(a)==-1){
            if(i <= 2){
              $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');
              if(i == 1){
                i--
                document.getElementById('category' + array_openedcategories[0]).style.borderRight = "2px solid #DAAAAA";
                i++
              }
              if(i == 2){
                i--
                document.getElementById('category' + array_openedcategories[1]).style.borderRight = "2px solid #DAAAAA";
                i++
              }
              i++;
              array_openedcategories.push(a);
            }else{
              $(".category" + array_openedcategories[0] + "_data").removeClass("animated_storage_el");
              $(".category" + array_openedcategories[0] + "_data").remove().clone().appendTo('#hiddenElems');
              document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
              array_openedcategories.shift()
              array_openedcategories.push(a)
              $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');
              document.getElementById('category' + array_openedcategories[0]).style.borderRight = "2px solid #DAAAAA";
              document.getElementById('category' + array_openedcategories[1]).style.borderRight = "2px solid #DAAAAA";
              $(".adding_form" + a).remove().clone().appendTo('#hiddenElems');
            }
          }else{
            $(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").removeClass("animated_storage_el");
            $(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").remove().clone().appendTo('#hiddenElems');
            if(array_openedcategories[0] == a)
            {
            document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
            }
            if(array_openedcategories[1] == a)
            {
              if(array_openedcategories.length == 2){
                document.getElementById('category' + array_openedcategories[0]).style.removeProperty('border-right');
              }
              else{
                document.getElementById('category' + array_openedcategories[1]).style.removeProperty('border-right');
              }
            }
            if(array_openedcategories[2] == a)
            {
            document.getElementById('category' + array_openedcategories[1]).style.removeProperty('border-right');
            }
            array_openedcategories.splice(array_openedcategories.indexOf(a), 1)
            i--
            $(".adding_form" + a).remove().clone().appendTo('#hiddenElems');
          }
        }
        };


        function add_button(){
            $(".myStorage_label").remove().appendTo('#hiddenElems');
            $(".add_product_button1").remove().appendTo('#hiddenElems');
            $("#div1_storage_screen2").remove().appendTo('#hiddenElems');
            $(".adding_product_screen").remove().clone().appendTo('#storage_screen2');
            autocomplete(document.getElementById("nameUa0"));
            variable = 1
        }


 </script>
 <script>
  let cat = ['Фрукти','Овочі','Молочні продукти','М\'ясні вироби','Морепродукти','Бакалія','Консерви та приправи','Напої','Заморожені продукти','Улюблені продукти']
function ajaxbutton_storage(num){
      $.ajax({
        type:'POST',
        url:'/mystorage/',
        data:{
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          nameUa:$('#nameUa' + num).val(),
          quantity:$('#quantity' + num).val(),
          category_form:num ,
      },
      success:function(response){
          if(response == 1){
            if(1){
             document.getElementById('nameUa' + num).value = "";
             document.getElementById('quantity' + num).value = "";
            }
           }else{
            alert("Такого продукту не існує")
           }
      }
      })
 }



 let counter = 0;
 let schet = 0
 let loop_counter = 0
document.addEventListener("DOMContentLoaded", function(){
  $.ajax({
    type:'GET',
    url:'/showresults/',
    data:{},
  success:function(response){
    localStorage.setItem('allproducts', JSON.stringify(response));
    console.log('LOCAL STORAGE SAVED!')
}
  })
});

function autocomplete(inp) {
  inp.addEventListener("input", function(e) {
    let response = JSON.parse(localStorage.getItem('allproducts'));
      colors_arr = ["#AFE8BC","#C2B6DC","#9ADAE3","#8386C4","#D0E772","#FBD285","#97DFBC","#F39595","#A9A7E4","#A9A7E4"]
      closeAllLists();
      a = document.createElement("DIV");
      a.setAttribute("id", /*this.id + */"autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      document.getElementById('nameUa0').parentNode.appendChild(a);
      for (item in response){
        loop_counter++
        if (response[item][0].substr(0, this.value.length).toUpperCase() == this.value.toUpperCase() && this.value != ''){
          if(schet == 0){
            document.getElementById('id_adding_circle').style.background = colors_arr[parseInt(response[item][1])]
          }
          schet++
        c = document.createElement("DIV");
        b = document.createElement("DIV");
        c.setAttribute("class", "big_div_adding");
        b.setAttribute("class","ex_search")
        b.setAttribute("id","ex_search"+ response[item][2])
        b.innerHTML = "<div class=\"adding_circle_0\" style=\'background:" + colors_arr[parseInt(response[item][1])] + "\'></div>" +
         "<div class=\"ex_adding\">"+
           "<p class=\"s_text\"><strong>" + response[item][0].substr(0, this.value.length) + "</strong>" +
             response[item][0].substr(this.value.length) +
             "</p>" +
             "</div>";
        if (response[item][3] == '0'){
          c.innerHTML =  "<div class=\"ex_search\" id=\"ex_search" + response[item][2] +"\">" + b.innerHTML+ "<input type='hidden' value='" + response[item][0] + "'></div>" + "<div class=\"fav_div\"  id=\"star_add\">" + "<div class=\"click\" id=\"click_add" + loop_counter +"\" onclick=\"pressStar(" + loop_counter + ', ' + response[item][2] +")\"><span class=\"fa fa-star-o\" id=\"span_add" + loop_counter +"\"></span><div class=\"ring\"id=\"ring_add\"></div><div class=\"ring2\"id=\"ring2_add\"></div></div></div>";
        }else{
          c.innerHTML =  "<div class=\"ex_search\" id=\"ex_search" + response[item][2] +"\">" + b.innerHTML+ "<input type='hidden' value='" + response[item][0] + "'></div>" + "<div class=\"fav_div\"  id=\"star_add\">" + "<div class=\"click active active-2 active-3\" id=\"click_add" + loop_counter +"\" onclick=\"pressStar(" + loop_counter + ', ' + response[item][2] + ")\"><span class=\"fa fa-star\" id=\"span_add" + loop_counter +"\"></span><div class=\"ring\"id=\"ring_add\"></div><div class=\"ring2\"id=\"ring2_add\"></div></div></div>";
        }
        if(counter <= 5){
          a.appendChild(c);
          counter++
          document.getElementById("ex_search"+ response[item][2]).addEventListener("click", function(e) {
            inp.value = this.getElementsByTagName("input")[0].value;
            closeAllLists();
          });
        }

      }
    }
    counter = 0
    schet = 0
    loop_counter = 0

  });
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }

}

  function pressStar(k, pk){
    let k1 = k -1
    let response = JSON.parse(localStorage.getItem('allproducts'));
                if(response[k1][3] == 0){
                  $('#click_add' + k).addClass('active')
                  $('#click_add' + k).addClass('active-2')
                  setTimeout(function() {
                    $('#span_add' + k).addClass('fa-star')
                    $('#span_add' + k).removeClass('fa-star-o')
                  }, 150)
                  setTimeout(function() {
                    $('#click_add' + k).addClass('active-3')
                  }, 150)
                  response[k1][3] = 1
                  $.ajax({
                      type:'POST',
                      url:'/addfav/',
                      data:{
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        name:response[k1][0],
                        wtd:"add",
                    },
                    success:function(){
                      let nresponse = JSON.parse(localStorage.getItem('allproducts'));
                      for (item in nresponse){
                        if (nresponse[item][2] == pk){
                           nresponse[item][3] = 1
                           localStorage.setItem('allproducts', JSON.stringify(nresponse));
                        }
                      }
                    }
                    })
                }else{
                  if ($('#span_add' + k).hasClass("fa-star")) {
                    $('#click_add' + k).removeClass('active')
                  setTimeout(function() {
                    $('#click_add' + k).removeClass('active-2')
                  }, 30)
                   $('#click_add' + k).removeClass('active-3')
                  setTimeout(function() {
                    $('#span_add' + k).removeClass('fa-star')
                    $('#span_add' + k).addClass('fa-star-o')
                  }, 15)
                }
                response[k1][3] = 0
                  $.ajax({
                      type:'POST',
                      url:'/addfav/',
                      data:{
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        name:response[k1][0],
                        wtd:"remove",
                    },
                    success:function(){
                      let nresponse = JSON.parse(localStorage.getItem('allproducts'));
                      for (item in nresponse){
                        if (nresponse[item][2] == pk){
                           nresponse[item][3] = 0
                           localStorage.setItem('allproducts', JSON.stringify(nresponse));
                        }
                      }
                    }
                    })
                }
  }


</script>
{% endblock %}
