{% extends "main/header.html" %}
{% load static %}
{% block title %}
My Storage
{% endblock %}
{% block content %}

<h1 class="myStorage_label"> Мої продукти </h1>


<!--<form method="POST">
  {% csrf_token %}
  <div class="search">
      <span class="fa fa-search"></span>
      <input type='text' placeholder="Назва продукту">
  </div>
</form>-->
<div class = "storage_screen">

  <div class="categories">
    <h2 class="category_label"> Категорії  </h2>
    <p align="right">
    {% for item,k in categories %}

    <div>
      <div class="button_categories" onclick="viewDiv('{{ k }}')">

          <div class="flex_circle">
            {% if item == "Фрукти"%}
              <div class="categories_circle1"></div>

            {% endif %}

            {% if item == "Овочі"%}
              <div class="categories_circle2"></div>
            {% endif %}

            {% if item == "Молочні продукти"%}
              <div class="categories_circle3"></div>
            {% endif %}

            {% if item == "М'ясні вироби"%}
              <div class="categories_circle4"></div>
            {% endif %}

            {% if item == "Морепродукти"%}
              <div class="categories_circle5"></div>
            {% endif %}

            {% if item == "Бакалія"%}
              <div class="categories_circle6"></div>
            {% endif %}

            {% if item == "Консерви та приправи"%}
              <div class="categories_circle7"></div>
            {% endif %}

            {% if item == "Напої"%}
              <div class="categories_circle8"></div>
            {% endif %}

            {% if item == "Заморожені продукти"%}
              <div class="categories_circle9"></div>
            {% endif %}

            {% if item == "Улюблені продукти"%}
              <div class="categories_circle10"></div>
            {% endif %}
          </div>

          <div class="flex_stcategory">
            <p>{{ item }}</p>
          </div>
      </div>
    </div>
    {% endfor %}
    </p>

  </div>
  <div id='hiddenElems' class="hide">

  	  <div class="category0_data ">  	
  	  	<div class="flex_name_category">
  	  		<div class="categories_circle1_screen2"></div>
  	  		<p class="name_of_category_screen2_1">{{categories_names.0}}</p>  	  		
  	  		<div class="add_product_button1"></div>   	  		
  	  	</div>  
  	  	<div class="lines_of_category_1"></div>	

  	  	<ol class="list_of_products"> 	
   	  		{% for item,k in products_array %}           
           
  	  		     <li class="category_data">{{ item.nameUa }}({{ k.quantity }})</li> 
          
  	  		{% endfor %}
          {% for item,k in products_array %}           
           
               <li class="category_data">{{ item.nameUa }}({{ k.quantity }})</li> 
          
          {% endfor %}
  	  	</ol>
  	  	
      </div>

      <div class="category1_data ">
      	<div class="flex_name_category">
      		<div class="categories_circle2_screen2"></div>
      		<p class="name_of_category_screen2_2" >{{categories_names.1}}</p>
      		<div class="add_product_button2"></div>
      	</div>    		
      		<div class="lines_of_category_2"></div>
      		<ol class="list_of_products">   
          {% for item,k in products_array %}           
            {% if item.category == "Фрукти" %}  
               <li class="category_data">{{ item.nameUa }}({{ k.quantity }})</li> 
            {% endif %}
          {% endfor %}
        </ol>
      </div>

      <div class="category2_data ">
      	<div class="flex_name_category">
      		<div class="categories_circle3_screen2"></div>
			<p class="name_of_category_screen2_3">{{categories_names.2}}</p>			
			<div class="add_product_button3"></div>
		</div>
			<div class="lines_of_category_3"></div>
      		<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Dairy products"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category3_data">
      	<div class="flex_name_category">
      		<div class="categories_circle4_screen2"></div>      		
      		<p class="name_of_category_screen2_4">{{categories_names.3}}</p>
      		<div class="add_product_button4"></div>
      	</div>
      		<div class="lines_of_category_4"></div>
      		<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Meat products"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category4_data">
      	<div class="flex_name_category">
      		<div class="categories_circle5_screen2"></div>
      		<p class="name_of_category_screen2_5">{{categories_names.4}}</p>
      		<div class="add_product_button5"></div>      		
      	</div>
      		<div class="lines_of_category_5"></div>
      		<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Seafood"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category5_data">
      	<div class="flex_name_category">
      		<div class="categories_circle6_screen2"></div>
      		<p class="name_of_category_screen2_6">{{categories_names.5}}</p>
      		<div class="add_product_button6"></div>      		
        </div>
        	<div class="lines_of_category_6"></div>
        	<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Grocery"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category6_data">
      	<div class="flex_name_category">
      		<div class="categories_circle7_screen2"></div>
      		<p class="name_of_category_screen2_7">{{categories_names.6}}</p>
      		<div class="add_product_button7"></div>      		
        </div>
        	<div class="lines_of_category_7"></div>
        	<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Canned food and condiments"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category7_data">
      	<div class="flex_name_category">
      		<div class="categories_circle8_screen2"></div>
      		<p class="name_of_category_screen2_8">{{categories_names.7}}</p>
      		<div class="add_product_button8"></div>      		
        </div>
        	<div class="lines_of_category_8"></div>
        	<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Drinks"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category8_data">
      	<div class="flex_name_category">
      		<div class="categories_circle9_screen2"></div>
			<p class="name_of_category_screen2_9">{{categories_names.8}}</p>
			<div class="add_product_button9"></div>			
        </div>
        	<div class="lines_of_category_9"></div>
        	<!--<ol> 	
   	  			{% for product in products %}
  	  			{% if product.category == "Frozen products"%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

      <div class="category9_data">
      	<div class="flex_name_category">
      		<div class="categories_circle10_screen2"></div>
	  		<p class="name_of_category_screen2_10">{{categories_names.9}}</p>
	  		<div class="add_product_button10"></div>	  		
        </div>
        	<div class="lines_of_category_10"></div>
        	<!--<ol class="list_of_products"> 	
   	  			{% for product in products %}
  	  			{% if product.is_favorite == True%}

  	  			<li class="category_data">{{product.nameEn}}({{product.quantity}} {{product.measureEn}})</li> 
  	  			{% endif %}
  	  			{% endfor %}
  	  		</ol>-->
      </div>

    </div>


  <div class = "storage_screen2">

    <div class="products_list" id="div1_storage_screen2">
    	 
    </div>

  </div>
</div>

      <script>
        let i = 0;
        let array_openedcategories = []
        function animate_st(a){
        	console.log("class changed")
        	$(".category" + a + "_data").toggleClass("animated_storage_el");        	
        }

        function viewDiv(a){
        	 $(".category" + a + "_data").removeClass("animated_storage_el");
        	 setTimeout(animate_st, 1, a);
          if(array_openedcategories.indexOf(a)==-1){
            if(i <= 2){
           	  $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');       	  
              i++;
              array_openedcategories.push(a);
            }else{
              $(".category" + array_openedcategories[0] + "_data").removeClass("animated_storage_el");
              $(".category" + array_openedcategories[0] + "_data").remove().clone().appendTo('#hiddenElems');          
              array_openedcategories.shift()
              array_openedcategories.push(a)
              $(".category" + a + "_data").remove().clone().appendTo('#div1_storage_screen2');
            }
          }else{
          	$(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").removeClass("animated_storage_el");
            $(".category" + array_openedcategories[array_openedcategories.indexOf(a)] + "_data").remove().clone().appendTo('#hiddenElems');
            array_openedcategories.splice(array_openedcategories.indexOf(a), 1)
            i--
          }
        };

            
      </script>
{% endblock %}